<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kalvin.kvf.modules.wode.mapper.StutsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kalvin.kvf.modules.wode.entity.Stuts">
        <id column="id" property="id" />
        <result column="name" property="name" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
       id, name
    </sql>

    <select id="selectStutsList" resultType="com.kalvin.kvf.modules.wode.entity.Stuts">
        select <include refid="Base_Column_List" /> from wode_stuts
        <trim prefix="where" prefixOverrides="and">
            <if test="stuts.name != null and stuts.name != ''">
                and name like concat(#{stuts.name}, "%")
            </if>
        </trim>
    </select>

</mapper>
